/* CustomerAuth.css */
.customer-login {
  background: #222;
  padding: 7rem 5rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  width: 480px;
  max-height: 66vh;
  overflow-y: auto;
}
.customer-login h2 {
  padding-top: 30px;
  margin-top: -100px;
  font-size: 40px;
}
.customer-login input {
  display: block;
  width: 80%;
  margin: 0.5rem 0;
  padding: 0.75rem;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  justify-self: center;
}
.customer-login .Loginbutton,
.customer-login .Backbutton {
  margin: 0.5rem;
  padding: 1.2rem 1rem;
  border: none;
  border-radius: 8px;
  background: #002871;
  color: white;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  width: 40%;
}
.customer-login .Loginbutton:hover,
.customer-login .Backbutton:hover {
  background: #3799d4;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.05);
}
.customer-login p {
  margin-top: 1rem;
  font-size: 16px;
}
.customer-login p span {
  color: #3799d4;
  text-decoration: underline;
  cursor: pointer;
}
.customer-login p span:hover {
  color: #5ab0f0;
}
